
.body{
    font-family:Poppins;
}
.mainLogo {
    height: 2rem;
    margin-right: 9px;
}

.CustomNavbar a {
    text-decoration: none;
}

.navList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media only screen and (max-width: 990px) {
    .navList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


/* ------------- ****** HERO SECTION STARTS ******** -------------  */

.heroImg {
    display: block;
    margin: auto;
    height: 20rem;
    width: 23rem;
}

.heroTitleBox {
    display: flex;
    align-items: center;
}

.heroTitle {
    text-align: center;
    width: 100%;
    font-size: 55px;
    font-weight: SemiBold;
    color: #270D41;
    padding-left: 8%;
    padding-right: 8%;
}

@media only screen and (max-width: 512px) {
    .heroTitle {
        margin-top: 2rem;
        font-size: 40px;
        font-weight: 650;
    }
}

@media only screen and (max-width: 990px) {
    .heroTitle {
        margin-top: 2rem;
    }
}

.heroTitle p {
    margin: 0;
}

.heroPara {
    margin-top: 3rem;
    padding-left: 8%;
    padding-right: 8%;
}


/* ------------- ****** HERO SECTION ENDS ******** -------------  */

.astroImg {
    display: block;
    margin: auto;
    height: 18rem;
    width: 15rem;
}

.icon {
    /* padding-right: 30px; */
    background: url("./Assets/img/tick.png") no-repeat right;
    /* background-size: 20px; */
    width: 100%;
    border: 0;
}

.ibox {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 50px;
}

.dash-button {
    width: 100%;
    background: none;
    border: 0;
    color: #270d41;
    text-align: left;
}

.dash-button:hover {
    width: 100%;
    background: none;
    border: 0;
    color: #270d41;
    text-align: left;
}

.react-icons {
    text-align: right;
}


/* ------***Landingpage**------- */

.buttonc {
    background-color: #5C0FB6;
    color: #FFFFFF;
}

.inputbox {
    background-color: #FFEFF8;
    width: 100%;
    height: 40pt;
    color: #707070;
    border: none;
    padding: 25px;
    margin-bottom: 11px;
}

.form {
    padding-left: 10%;
    padding-right: 10%;
    gap: 10px;
}

.hrline {
    height: 5px;
    /* border-top: 5px solid #000; */
    margin-left: 35%;
    margin-right: 35%;
    background-color: #000000;
    margin-top: 67px;
    margin-bottom: 67px;
    border-radius: 50px;
}

.promotitle {
    width: 100%;
    font-size: 20px;
    color: #707070;
    padding-left: 4%;
    padding-right: 8%;
    margin-bottom: 60px;
}

.boxorder {
    width: 41px;
    height: 38px;
    border: 1px solid #707070;
    margin-left: 4%;
}

.size {
    font-size: 18px;
    margin-bottom: 10px;
}

.contentp {
    padding-left: 4%;
    padding-right: 8%;
    color: #707070;
}

.features {
    margin-top: 50px;
    background-color: #615F5F;
    color: #FFFFFF;
    text-align: center;
}

.featur {
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    margin-left: 15px;
    padding-right: 0px;
    padding-left: 0px;
}

.feature {
    color: white;
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 15px;
    margin-bottom: 60px;
}

.featuretitle {
    font-size: 23px;
    margin-bottom: 80px;
    padding-top: 30px;
}
.formfun {
    padding-left: 3%;
    padding-right: 3%;
    /* gap: 10px; */
}
.sTitle{
    font-weight: SemiBold;
    margin-bottom: 40px;
    color: #270D41;
}
.backward{
    font-size: 40px;
     margin-bottom: 30px;
    background-color: white;
    color: #000000;
    cursor: pointer;
}
.saveBtn{
    background-color: #5C0FB6;
    width: auto;
    padding: 10px 35px 10px 35px;
    font-weight: none;
    font-size: 15px;
    border-radius: 5px;
    
}
.savebutton{
    float: right;
}
.lin{
    margin-bottom: 5px;
    margin-top: 40px;
}

/* ------***otp**------- */
.otpspace{
    margin-bottom: 70px;
    padding:3%;
}

/* _______***account created****______ */
.accountcreated{
    margin-bottom: 80px;
    padding:25%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
  }
  
  .circle {
    position: relative;
    background: #5C0FB6;
    border-radius: 100%;
    height: 70px;
    width: 70px;
  }
  
  .checkMark {
    position: absolute;
    transform: rotate(50deg) translate(-50%, -50%);
    left: 27%;
    top: 43%;
    height: 40px;
    width: 22px;
    border-bottom: 8px solid #fff;
    border-right: 8px solid #fff;
   
    border-radius: 6px;
}


/* ..... dashboard..... */
.bold{
    font-weight: bold;
}
.dashboard{
    padding: 25px;
}
.circletick{
    position: relative;
    background: #E4E4E4;
    width: 30px;
    height: 30px; 
    border-radius: 100%;
}
.checktack{
    position: absolute;
    transform: rotate(50deg) translate(-50%, -50%);
    left: 20%;
    top: 45%;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    height: 20px;
    width: 11px;
    border-radius: 1px;
}

.wrapright {
    float: right;
  }
